@import "./lists";
@import "./NewListForm";
@import "./todosHystory";


.todos {
    // min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;

    .todos_manu {
        display: flex;
        justify-content: space-evenly;
        margin: 30px;

        button {
            height: 40px;
        }

        @include my_mobile {
            flex-direction: column-reverse;

            button {
                width: 100%;
                margin-bottom: 20px;
            }

            form {
                width: 100%;

                button {
                    width: 100px;
                }
            }
        }
    }

    .empty_todos {
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: center;

        div {}
    }

    .select_div {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        height: 25px;

        select {
            position: absolute;
            right: 0;
        }
    }

    .lists {
        column-count: 3;

        @include tablet {
            column-count: 2;
        }

        @include mobile {
            column-count: 1;
        }

        @include my-mobile {
            column-count: 1;
        }
    }

    .noTodos_div {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: $reg-text;
    }
}

.highlight {
    background-color: red;
}